/* --------------------------------------------------------
Style Sheet for Project Moonshire

version: 0.9
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

:root {
  --color-brand: #DBDBDB;
  --color-brand-dark: #242424;
  --color-cta: #FF0040;
  --color-detail: #CFCFCF;
  --color-detail-dark: #323232;
  --color-lines: #CCCCCC;
  --color-lines-dark: #363636;
  --color-admin-green: #60CE4C;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atlas-Typewriter";
  src: url("/fonts/Atlas-Typewriter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

::selection {
  @apply text-cta;
}

::-moz-selection {
  @apply text-cta;
}

html, body {
	scroll-behavior: smooth;
  font-family: 'Atlas-Typewriter';
  font-size: 12px;
}

h1, h2, h3, h4 {
  @apply font-sans;
}

h1 {
  @apply text-[30px] mb-10;
}

h2, h3, h4 {
  @apply text-[30px] mb-5;
}

hr {
  @apply border-t border-lines dark:border-lines-dark; 
}

.link {
  @apply hover:cursor-pointer hover:text-cta transition-all duration-100;
}

/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply font-extrabold text-cta;
}

.mobile-menu .active-nav {
  @apply font-bold text-cta;
}


/* ==========================================================================
	Buttons 
	========================================================================== */

.button {
  @apply w-max h-10 px-6 rounded-full shadow text-tiny flex items-center justify-center
    hover:cursor-pointer transition-all duration-100 uppercase font-serif;
}

.button-cta {
  @apply text-white bg-cta transition-all;
}

.button-detail {
  @apply text-black bg-detail dark:bg-detail-dark dark:text-detail hover:text-cta transition-all duration-100; 
}

.button:disabled {
  @apply bg-slate-500 text-white shadow-none hover:cursor-not-allowed;
}

.button-connect {
  @apply h-10 w-max px-5 rounded-full flex items-center justify-center bg-cta text-white hover:cursor-pointer transition-all;
  box-shadow: 10px 10px 40px rgba(255, 0, 64, 0.3);
}

.button-connect:hover {
  box-shadow: 10px 10px 40px rgba(255, 0, 64, 0.3);
}


/* ==========================================================================
	Profile
	========================================================================== */

.profile input[type='text'], 
.profile input[type='number'], 
.profile input[type='email'], 
.profile input[type='website'] {
  @apply bg-brand dark:bg-brand-dark text-center rounded py-2
    focus:border-none focus:outline-none focus:scale-105 transition-all;
}


/* ==========================================================================
	Supabase UI overrides
	========================================================================== */

.sbui-btn-primary { 
  @apply bg-brand-dark dark:bg-brand dark:text-brand-dark !important;
}

.sbui-typography-link {
  @apply text-brand-dark dark:text-brand !important;
}

.sbui-checkbox:checked {
  @apply bg-brand-dark !important; 
}


/* ==========================================================================
	Admin
	========================================================================== */

.admin th {
  @apply px-2 py-6;
}

.admin tr, td {
  @apply px-2 py-4;
}

.admin input[type='text']:not(:disabled), 
.admin input[type='number']:not(:disabled), 
.admin input[type='email']:not(:disabled), 
.admin input[type='website']:not(:disabled) {
  @apply border px-3 py-2 rounded bg-brand dark:bg-brand-dark text-black dark:text-white focus:outline-none;
}

.admin input[type='text']:disabled {
  @apply border-none bg-transparent;
}

.button-admin {
  @apply h-8 px-6 rounded-full shadow text-tiny font-serif flex items-center justify-center
    hover:shadow-sm hover:cursor-pointer transition-all uppercase
    text-black bg-detail dark:bg-detail-dark dark:text-white; 
}

.button-admin:hover {
  @apply text-cta transition-all duration-200; 
}



/* ==========================================================================
	Radio Buttons
	========================================================================== */

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--color-brand);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--color-lines);
  border-radius: 50%;
  transform: translateY(0.125em);
}

input[type="radio"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-admin-green);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}


input[type="radio"]:checked:disabled::before {
  box-shadow: inset 1em 1em var(  --color-detail);
  color: red;
  transform: scale(1);

}


/* ==========================================================================
	Create NFT, Create Collection
	========================================================================== */

.create-nft input[type='text'], 
.create-nft textarea,
.create-collection input[type='text'], 
.create-collection textarea 
{
  @apply px-5 py-4 rounded-lg
  bg-brand dark:bg-brand-dark border border-detail dark:border-detail-dark 
    focus:outline-none focus:shadow-2xl;
}

/* Override react-select input */
.nfts *[class$="singleValue"] {
  @apply text-brand-dark dark:text-brand;
}


/* ==========================================================================
	Create NFT, Create Collection
	========================================================================== */

.frame {
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  padding: 8vmin;
  position: relative;
  text-align: center;
}

.frame:before {
  border-radius:2px;
  bottom:-2vmin;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
  content:"";
  left:-2vmin;
  position:absolute;
  right:-2vmin;
  top:-2vmin;
}

.frame:after {
  border-radius:2px;
  bottom:-2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  content:"";
  left:-2.5vmin;
  position:absolute;
  right:-2.5vmin;
  top:-2.5vmin;
}
