/* --------------------------------------------------------
Style Sheet for Project Moonshire

version: 0.9
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

:root {
  --color-brand: #DBDBDB;
  --color-brand-dark: #242424;
  --color-cta: #D6A269;
  --color-detail: #CFCFCF;
  --color-detail-dark: #323232;
  --color-lines: #CCCCCC;
  --color-lines-dark: #363636;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atlas-Typewriter";
  src: url("/fonts/Atlas-Typewriter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

::selection {
  @apply text-cta bg-brand-dark;
}

::-moz-selection {
  @apply text-cta bg-brand-dark;
}

html, body {
	scroll-behavior: smooth;
  font-family: 'Atlas-Typewriter';
  font-size: 12px;
}

h1, h2, h3, h4 {
  @apply font-sans;
}

h1 {
  @apply text-[20px] md:text-[30px] mb-10;
}

h2, h3, h4 {
  @apply text-[20px] md:text-[30px] mb-5;
}

hr {
  @apply border-t border-lines dark:border-lines-dark; 
}

.link {
  @apply hover:cursor-pointer hover:text-cta transition-all duration-100;
}

.link-white {
  @apply text-white dark:text-cta hover:cursor-pointer hover:text-cta hover:dark:text-white transition-all duration-100;
}

input::placeholder, textarea::placeholder  {
  @apply text-[#777777] dark:text-[#999999];
}


/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply font-extrabold text-cta;
}

.mobile-menu .active-nav {
  @apply font-bold text-cta;
}


/* ==========================================================================
	Buttons 
	========================================================================== */

.button {
  @apply w-max h-12 px-6 rounded-sm text-tiny flex items-center justify-center
    hover:cursor-pointer transition-all duration-100 uppercase font-serif;
}

.button-cta {
  @apply text-white bg-cta transition-all;
}

.button-detail {
  @apply text-black bg-detail dark:bg-detail-dark dark:text-detail hover:text-cta dark:hover:text-cta transition-all duration-100; 
}

.button:disabled {
  @apply text-black bg-detail dark:bg-detail-dark dark:text-detail hover:cursor-not-allowed;
}

.button-connect {
  @apply h-12 w-max px-5 rounded-sm flex items-center justify-center bg-cta text-white hover:cursor-pointer transition-all;
}


/* ==========================================================================
	Profile
	========================================================================== */

.profile input[type='text'], 
.profile input[type='number'], 
.profile input[type='email'], 
.profile input[type='website'] {
  @apply bg-brand dark:bg-brand-dark text-center md:text-left rounded py-2
    focus:border-none focus:outline-none transition-all focus:ring-cta;
}


/* ==========================================================================
	Create/Edit NFT/Collection/User
	========================================================================== */

  .create-collection input[type='text'], .create-collection input[type='number'], .create-collection textarea,
.edit-collection input[type='text'], .edit-collection input[type='number'], .edit-collection textarea,
.create-artist input[type='text'], .create-artist input[type='number'], .create-artist textarea,
.edit-artist input[type='text'], .edit-artist textarea,
.create-nft input[type='text'], .create-nft textarea
{
  @apply px-5 py-4 rounded border-none bg-brand dark:bg-brand-dark focus:outline-none focus:ring-cta;
}

.edit-user input[type='text'], .edit-user textarea,
.list-nft input[type='text'], .list-nft textarea
{
  @apply px-5 py-4 rounded-lg
  bg-brand dark:bg-brand-dark border border-detail dark:border-detail-dark 
    focus:outline-none focus:shadow-2xl focus:ring-cta;
}


/* Override react-select input */
.nfts *[class$="singleValue"] {
  @apply text-brand-dark dark:text-brand;
}

#react-select-true-input {
  @apply focus:ring-0;
}


/* ==========================================================================
	Sticky Footer
	========================================================================== */

  .sticky-footer {
    @apply fixed bottom-0 left-0 right-0;
  }

  .scroll-down .sticky-footer {
    @apply opacity-0 transition-all duration-300;
  }

  .bottom .sticky-footer {
    @apply opacity-100 transition-all duration-300; 
  }
  
  .scroll-up .sticky-footer {
    @apply opacity-0 transition-all duration-300;
  }


/* ==========================================================================
	Supabase UI overrides
	========================================================================== */

.sbui-btn-primary { 
  @apply bg-brand-dark dark:bg-brand dark:text-brand-dark !important;
}

.sbui-typography-link {
  @apply text-brand-dark dark:text-brand !important;
}

.sbui-checkbox:checked {
  @apply bg-brand-dark !important; 
}

.sbui-checkbox:hover {
  @apply border-cta cursor-pointer !important; 
}

.sbui-input {
  @apply pl-14 !important ;
}

.sbui-input:focus {
  @apply border-cta !important;
}

.sbui-divider span {
  @apply text-detail-dark dark:text-detail !important;
}


/* ==========================================================================
	Admin
	========================================================================== */

.admin th {
  @apply px-2 py-6;
}

.admin tr, td {
  @apply px-2 py-4;
}

.admin input[type='text']:not(:disabled), 
.admin input[type='number']:not(:disabled), 
.admin input[type='email']:not(:disabled), 
.admin input[type='website']:not(:disabled) {
  @apply border px-3 py-2 rounded bg-brand dark:bg-brand-dark text-black dark:text-white focus:outline-none;
}

.admin input[type='text']:disabled {
  @apply border-none bg-transparent;
}

.button-admin {
  @apply h-12 px-6 rounded-sm text-tiny font-serif uppercase
    text-black bg-detail dark:bg-detail-dark dark:text-white hover:text-cta dark:hover:text-cta transition-all duration-100;  
}
